@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --ubuntu: "Ubuntu", sans-serif;
    --primary-color: #5fee9a;
    --primary-color-darker: #2eb466;
    --primary-color-background: #3f3d56;
    --secundary-color-background: #494668;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    font-family: var(--ubuntu);
    background-image: linear-gradient(to top, var(--secundary-color-background), var(--primary-color-background));
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--primary-color-background);
    padding: 10px;
    border-bottom: 1px solid #5a5780;
}

#logo {
    width: 75px;
}

#burguer {
    display: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

#burguer:hover {
    background-color: #3a385a;
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #d4d4d4;
}

main {
    margin: 30px auto;
    max-width: 680px;
}

main > h1 {
    color: white;
    text-align: center;
    font: 500 45px var(--ubuntu);
    margin: 15px 0 25px 0;
}

main > p {
    margin: 18px;
    color: #d4d4d4;
}

main a {
    color: #5fee9a;
    text-decoration: none;
    transition-duration: .3s;
}

main a:hover {
    color: #2eb466;
}

.center-p {
    text-align: center;
    color: white;
    font-size: 18px;
}

.table-container {
    max-width: 800px;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table tr, th, td {
    border-bottom: 1px solid #5a5780;
    padding: 12px;
    color: #d4d4d4;
}

table tr:nth-child(even) {
    background-color: #484564;
}

table thead {
    background-color: #3a385a;
    color: #ececec;
}

.btn-show {
    color: #86e78e;
}

.btn-edit {
    color: #92b5d6;
}

.btn-delete {
    color: #f19494;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-show, .btn-edit, .btn-delete {
    text-decoration: none;
}

.btn-show:hover, .btn-edit:hover, .btn-delete:hover {
    text-decoration: underline;
}

/* FORMULÃRIO */

form {
    max-width: 680px;
    margin: 0 auto;
}

.campo {
    margin: 20px 0;
}

.campo > label {
    color: #eeeeee;
}

.campo > input, .campo textarea {
    display: block;
    width: 100%;
    padding: 10px 8px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #6b688a;
    color: white;
    border-radius: 2px;
    margin: 8px 0;
    font-family: var(--ubuntu);
}

.campo > input:focus, .campo textarea:focus, .btn-submit:focus {
    outline: 3px solid #2eb46686;
}

.campo > input::placeholder, .campo textarea::placeholder {
    color: #a7a7a7;
}

.btn-submit {
    color: white;
    background-color: #3c6891;
    padding: 10px 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #375b7c;
}

.alert-success {
    background-color: #2eb466;
    max-width: 800px;
    margin: 15px auto 30px auto;
    padding: 10px;
    border-radius: 2px;
}

.text-bold {
    font-weight: bold;
    color: white;
}

.btn-back {
    border: 1px solid #2eb466;
    padding: 8px 10px;
    border-radius: 2px;
}