@charset "UTF-8";

@media screen and (max-width: 1345px) {
    .post-box {
        padding: 20px;
    }
}

@media screen and (max-width: 1110px) {
    .post-container {
        padding: 20px;
    }
}

@media screen and (max-width: 765px) {
    #logo {
        display: block;
        margin: 0 auto;
    }

    header, i.burguer, .nav-list {
        display: block;
    }

    .nav-link {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .nav-link:hover {
        background-color: white;
        color: #2e2e2e;
    }
}